@model Proyectores.Models.Departamento

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Esta seguro que desea eliminar esto?</h3>
<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.historia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.historia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ubicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ubicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.organizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.organizacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
