@model IEnumerable<Proyectores.Models.Departamento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Departamentos UNAN</h2>

<p>
    <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("Create","Departamentos")')"><i class="fa fa-plus"></i> Nuevo </a>
</p>
<table class="table table-hover table-condensed" id="departamentos">
   <thead>
       <tr>
           <th>
               @Html.DisplayNameFor(model => model.nombre)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.mision)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.vision)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.historia)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.ubicacion)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.organizacion)
           </th>
           <th></th>
       </tr>
   </thead>
</table>

@section scripts{
<script>
    var Popup, dataTable;
    $(document).ready(function () {
        dataTable = $("#departamentos").DataTable({
            "ajax": {
                "url": "/Departamentos/getDeptos",
                "type": "GET",
                "dataType": "json"
            },
            "columns": [
                { "data": "nombre"},
                { "data": "mision" },
                { "data": "vision" },
                { "data": "historia" },
                { "data": "ubicacion" },
                { "data": "organizacion" },
                {"data": "id_departamento"}
            ],
            "language": {
                "emptyTable": "No se han registrado departamentos"
            }
        });
    });

    function PopupForm(url) {
        var formDiv = $('<div/>');
        $.get(url)
        .done(function (response) {
            formDiv.html(response);
            Popup = formDiv.dialog({
                autoOpen: true,
                resizable: false,
                title: 'Datos de Departamento',
                height: 500,
                width: 700,
                close: function () {
                    Popup.dialog('destroy').remove();
                }
            });
        });
    }

    function SubmitForm(form) {
        $.validator.unobtrusive.parse(form);
        if ($(form).valid()) {
            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {

                        Popup.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })

                    }
                }
            });
        }
        return false;
    }
</script>
    }