@model Proyectores.Models.Proyector

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-10">
    <div class="container">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="col-md-10">
                <div class="panel-group">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 style="color: palevioletred; text-align:center;"><strong>Agregar nuevo Departamento</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="col-md-4">
                                    @*<div class="form-group">
                                            <label class="control-label col-md-2" for="id_marca">Marca</label>
                                            @Html.DropDownList("id_marca", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.id_marca, "", new { @class = "text-danger" })
                                        </div>*@
                                </div>

                                <div class="col-md-4">
                                    @*<div class="form-group">
                                           <label class="control-label col-md-2" for="id_estado">Estado</label>
                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     @Html.DropDownList("id_estado", null, htmlAttributes: new { @class = "form-control" })
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   @Html.ValidationMessageFor(model => model.id_estado, "", new { @class = "text-danger" })
                                        </div>*@
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="nombre">Modelo</label>
                                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Molelo del proyector" } })
                                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="activo">Activo</label>
                                    
                                            @Html.CheckBoxFor(model => model.activo, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.activo, "", new { @class = "text-danger" })
                                      
                                    </div>
                                </div>
                            </div>

                            @*----------------------------------------------------------*@
                            <hr />
                            <br /><br />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <a href="@Url.Action("Index")" class="btn btn-danger" style="margin-left: 10px">
                                        <em class="glyphicon glyphicon-backward"></em>  Volver
                                    </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="submit" class="btn btn-danger">Guardar<em class="glyphicon glyphicon-save"></em></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
 </div>


                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
