@model IEnumerable<Proyectores.Models.Proyector>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Estado
        </th>
        <th>
            Marca
        </th>
        <th>
            Modelo
        </th>
        <th>
            Activo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca.marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_proyector }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_proyector }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_proyector })
        </td>
    </tr>
}

</table>
