@model IEnumerable<Proyectores.Models.Marca>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    Crear Persona
</p>
@Html.Partial("_crear", null)

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.marca)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.marca)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_marca }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_marca }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_marca })
        </td>
    </tr>
}

</table>
